*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f0f0f;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.calculator{

background:white;

padding:20px;

border-radius:25px;

width:340px;

box-shadow:0 0 20px rgba(0,0,0,.5);

}

.display{

width:100%;

height:80px;

background:#000;

color:white;

border:none;

outline:none;

font-size:38px;

text-align:right;

padding:15px;

margin-bottom:20px;

border-radius:15px;

}

.buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}

button{

height:65px;

border:none;

border-radius:50%;

font-size:24px;

cursor:pointer;

background:#333;

color:white;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

.operator{

background:#ff9500;

}

.equal{

background:#ff9500;

grid-column:span 2;

border-radius:35px;

}

.clear{

background:#9b9b9b;

color:black;

}

@media(max-width:400px){

.calculator{

width:95%;

}

button{

height:60px;

}

.display{

font-size:32px;

}

}